<mat-card>

    <mat-card-header>
        <mat-card-title>About Me</mat-card-title>
    </mat-card-header>

    <span class="card-content">

        <span class="text-content">

            <mat-card-content>
                <p>Mi nombre es José Javier, un joven de 23 años nacido en Baza. Aunque mis orígenes se encuentran allí, la búsqueda de conocimiento y oportunidades me llevó a establecerme y estudiar en Linares. Desde mi infancia, siempre he sentido una profunda fascinación por los vehículos automóviles. Esta pasión no solo se convirtió en un hobby, sino en la brújula que guiaría mis decisiones profesionales desde muy temprana edad.</p>
                <p>
                Mis primeros pasos en el mundo laboral los di en [Nombre de la Empresa o Taller 1]. Durante un año, estuve aprendiendo de profesionales y enfrentando desafíos que moldearon mi perspectiva y habilidades. Esta experiencia inicial me proporcionó una base sólida.</p>
                <p>
                Buscando ampliar mi experiencia y enfrentarme a nuevos retos, decidí unirme a [Nombre de la Empresa o Taller 2] durante otro año. Aquí, no solo consolidé mis conocimientos previos, sino que también adquirí nuevas técnicas, metodologías y enfoques en el área, fortaleciendo aún más mi perfil profesional.</p>
                <p>
                Sin embargo, como todo apasionado de la tecnología y el desarrollo, sentí la llamada de la innovación y el deseo de diversificar mis habilidades. Con ese impulso, tomé la decisión de adentrarme en el estudio de Desarrollo de Aplicaciones Multiplataforma (DAM). Esta nueva aventura no solo representa una oportunidad para expandir mis capacidades técnicas, sino también para combinar mi amor por la electromecánica con las últimas tendencias en desarrollo digital.</p>
            </mat-card-content>

        </span>

    </span>

    <span>

        <mat-card-header class="contact-title">
            <mat-card-title>Contacto</mat-card-title>
        </mat-card-header>  

        <span class="card-content">

            <mat-card-content class="text-content" >
                <p>Si deseas conocer más sobre mis habilidades, colaborar en proyectos o simplemente charlar sobre el mundo de la electromecánica y desarrollo de aplicaciones, ¡no dudes en ponerte en contacto conmigo!
                </p>            
            </mat-card-content>

        </span>

    </span>
    
</mat-card>

<footer>

    <ul>

        <li>
            <button mat-fab extended>
                <mat-icon>email</mat-icon>
                <a href="#inicio">Gmail</a>
            </button>
        </li>

        <li>
            <button mat-fab extended>
                <mat-icon>email</mat-icon>
                <a href="#inicio">GitHub</a>
            </button>
        </li>

        <li>
            <button mat-fab extended>
                <mat-icon>email</mat-icon>
                <a href="#inicio">Linkedln</a>
            </button>
        </li>

    </ul>

</footer>

