<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:action="@{/save}" th:object="${coche}" method="post">

        <input type="text" th:field="*{marca}" placeholder="Marca" autocomplete="off"><br>
        <input type="text" th:field="*{modelo}" placeholder="Modelo" autocomplete="off"><br>
        <input type="text" th:field="*{precio}" placeholder="Precio" autocomplete="off"><br>

        <button type="submit">Guardar coche</button>

    </form>

</body>
</html>