
mat-card{
    width: 70%;
    margin: 10% 20% 5% 10%;
    color: #CBB9A1;
    background-color: #337781;
}

img{
    max-width: 50%;
    margin: 2%;    
}

.card-content{
    display: flex;
    align-items: center;
}

.text-content{
    font-size: larger;
    flex-grow: 1;
}