<div>
    <mat-card>

        <mat-card-header>
            <mat-card-title>José Javier</mat-card-title>
        </mat-card-header>

        <span class="card-content">

            <span class="text-content">

                <mat-card-content>
                    <p>Bienvenidos a mi porfolio digital. Este espacio no solo representa un recopilatorio de trabajos y proyectos, sino también una ventana a mi trayectoria personal y profesional. Aquí, cada sección se ha diseñado meticulosamente para ofrecer una visión completa de mi evolución, habilidades y pasiones. Desde mis primeros pasos en el mundo laboral hasta los proyectos más recientes, cada detalle ha sido seleccionado con el propósito de transmitir mi compromiso, dedicación y crecimiento constante en el ámbito profesional.</p>
                    <p>A lo largo de estas páginas, les invito a sumergirse en una experiencia única, descubriendo no solo lo que he logrado, sino también el espíritu y la pasión que impulsa cada uno de mis proyectos. ¡Espero que disfruten de este recorrido y que juntos podamos construir futuras oportunidades y colaboraciones!
                    </p>
                </mat-card-content>
            </span>

            <img mat-card-image src="assets/imagenes/Img_logo/logo3.png" alt="foto de perro">
        </span>

    </mat-card>
</div>