<!-- <footer>

    <ul>

        <li>
            <button mat-fab extended>
                <mat-icon>email</mat-icon>
                <a href="#inicio">Gmail</a>
            </button>
        </li>

        <li>
            <button mat-fab extended>
                <mat-icon>email</mat-icon>
                <a href="#inicio">GitHub</a>
            </button>
        </li>

        <li>
            <button mat-fab extended>
                <mat-icon>email</mat-icon>
                <a href="#inicio">Linkedln</a>
            </button>
        </li>

    </ul>

</footer> -->