mat-card{
    display: flex;
    background-color: #337781;
    width: 70%;
    margin: 15% 10% 5% 20%;
    color: #CBB9A1;
    justify-content: flex-end;
}

.job{
    width: 50%;
    margin: 5% auto;
}


img{
    max-width: 50%;
}

.card-content{
    display: flex;
    align-items: center;
}

.text-content{
    font-size: larger;
    flex-grow: 1;
}