<mat-card>
    <mat-card-header>
        <mat-card-title>Trabajos</mat-card-title>
    </mat-card-header>

    <span class="card-content">

        <span class="text-content">

            <mat-card-content>
                <p>A lo largo de mi corta pero intensa carrera, he tenido la oportunidad de participar en diversos proyectos que reflejan mi habilidad y compromiso en el campo de la electromecánica de vehículos automóviles. Aquí, les presento algunos de mis trabajos destacados:
                </p>
            </mat-card-content>
        </span>

    </span>
</mat-card>

<mat-card class="job">
    <mat-card-header>
        <mat-card-title>Android</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p> [Nombre del Proyecto o Trabajo 1]: Breve descripción o logros alcanzados.</p>
        <img mat-card-image src="assets/imagenes/img_calculadora.avif" alt="foto de trabajo">
    </mat-card-content>
</mat-card>

<mat-card class="job">
    <mat-card-header>
        <mat-card-title>IOS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p> [Nombre del Proyecto o Trabajo 2]: Breve descripción o logros alcanzados.</p>
        <img mat-card-image src="assets/imagenes/ej-pro.webp" alt="foto de trabajo">
    </mat-card-content>
</mat-card>

<mat-card class="job">
    <mat-card-header>
        <mat-card-title>WEB</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p> [Nombre del Proyecto o Trabajo 3]: Breve descripción o logros alcanzados.</p>
        <img mat-card-image src="assets/imagenes/ej-pro.webp" alt="foto de trabajo">
    </mat-card-content>
</mat-card>
